@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-mulish: Mulish;
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;

  /* Colors */
  --color-black: #000;
  --white-high-emphasis: #fff;
  --color-gray-100: #fffdfd;
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-darkslategray: #403e3e;

  /* Border radiuses */
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-7xs: 6px;
  --br-31xl: 50px;
}
