.loginChild {
    position: absolute;
    top: 585px;
    left: 1007px;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray);
    width: 192px;
    height: 27px;
    cursor: pointer;
  }
  .groupChild,
  .groupItem {
    position: absolute;
    box-sizing: border-box;
  }
  .groupChild {
    top: -1px;
    left: -1px;
    border-radius: var(--br-mini);
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    width: 1763px;
    height: 927px;
  }
  .groupItem {
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 16px solid #d5d5d5;
    width: 466px;
    height: 475px;
  }
  .groupChild1,
  .groupInner,
  .rectangleDiv {
    position: absolute;
    border-radius: var(--br-7xs) var(--br-31xl) var(--br-7xs) var(--br-31xl);
    background: linear-gradient(180deg, #fff 46.98%, #b4bdd9);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .groupInner {
    top: 196.97px;
    left: 222.29px;
    width: 63.97px;
    height: 205.52px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
  .groupChild1,
  .rectangleDiv {
    top: 0;
    left: 176.96px;
    width: 62.09px;
    height: 291.97px;
  }
  .groupChild1 {
    top: 38px;
    left: 0;
  }
  .ellipseParent,
  .rectangleGroup {
    position: absolute;
    top: 72.83px;
    left: 113.63px;
    width: 239.05px;
    height: 329.97px;
  }
  .ellipseParent {
    top: 192px;
    left: 161px;
    width: 466px;
    height: 475px;
  }
  .health360,
  .login1 {
    position: absolute;
    left: 932px;
    line-height: 167.99%;
    font-weight: 900;
  }
  .login1 {
    top: 297px;
    letter-spacing: 0.13em;
    display: inline-block;
    width: 310px;
    height: 22px;
  }
  .health360 {
    top: 99px;
    font-size: 64px;
  }
  .email1Icon {
    position: absolute;
    top: 374px;
    left: 947px;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .rectangleInput {
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-gray-200);
    position: absolute;
    top: 362px;
    left: 932px;
    border-radius: var(--br-8xs);
    box-sizing: border-box;
    width: 406px;
    height: 44px;
  }
  .key1Icon {
    position: absolute;
    top: 431px;
    left: 947px;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .groupChild2 {
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-gray-200);
    position: absolute;
    top: 419px;
    left: 931px;
    border-radius: var(--br-8xs);
    box-sizing: border-box;
    width: 406px;
    height: 44px;
  }
  .forgotPassword {
    text-decoration: none;
    position: absolute;
    top: 508px;
    left: 932px;
    font-size: 14px;
    letter-spacing: 0.13em;
    line-height: 167.99%;
    color: inherit;
    display: inline-block;
    width: 236px;
    height: 16px;
  }
  .lineDiv,
  .lineIcon {
    position: absolute;
    top: 580.5px;
    left: 930px;
    width: 782.06px;
    height: 1px;
  }
  .lineDiv {
    top: 82.5px;
    left: 877.5px;
    border-right: 1px solid var(--white-high-emphasis);
    box-sizing: border-box;
    width: 1px;
    height: 742px;
  }
  .rectangleParent {
    top: 78px;
    left: 80px;
    width: 1761px;
    height: 925px;
    font-size: 24px;
  }
  .div,
  .loginItem,
  .rectangleParent {
    position: absolute;
  }
  .loginItem {
    top: 627px;
    left: 623px;
    border-radius: var(--br-mini);
    background-color: #212121;
    width: 142px;
    height: 68px;
  }
  .div {
    top: 634px;
    left: 630px;
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font-inter);
    display: inline-block;
    width: 117px;
    height: 43px;
  }
  .styleaccentStatedefaultL {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .login2,
  .styleaccentStatedefaultLWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 60px;
  }
  .login2 {
    top: 13px;
    left: 15px;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    height: 37px;
  }
  .groupParent {
    position: absolute;
    top: 754px;
    left: 999px;
    width: 140px;
    height: 60px;
    text-align: center;
  }
  .signUp {
    position: absolute;
    top: 13px;
    left: 14px;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    height: 37px;
  }
  .styleaccentStatedefaultLParent {
    position: absolute;
    top: 754px;
    left: 1278px;
    width: 140px;
    height: 60px;
    text-align: center;
  }
  .login {
    position: relative;
    border-radius: var(--br-mini);
    background-color: var(--color-black);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--white-high-emphasis);
    font-family: var(--font-mulish);
  }
  