.login-btn {    
  background-color: #000000;
}


.vl {
    border-left: 3px solid #acacac;
    height: 80%;
    /* position: absolute;
    left: 50%;
    top: 20; */
}

.logo-div{
    /* position: absolute;
    top: 25%;
    left: 15%; */
    max-width: 400px;
}

.logo-login{
  height: 100%;
  width: 100%;
}

.sign-up-form {
  color: aliceblue;
}

.sign-up-form input[type="submit"] {
  border: 2px;
  background-color: #191919; /* Background color for the submit button */
  color: white; /* Text color for the submit button */
  border: 2px solid #acacac;
}