@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

* {
    font-family: "aliceblue", sans-serif;
    
}


.content {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Adjust the margin as needed */
}
.Main {
    background-color: rgb(97, 95, 95);
    background-image: url(bgimg.jpg);
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
    min-height: 80vh; /* Full height */
}


.post {
    display: flex;
    flex-direction: column;
    align-items: left; /* Align items vertically in the center */
    margin-bottom: 20px; /* Adjust the gap as needed */
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add border to each post */
    padding: 10px; /* Add padding for spacing */
    background-color: rgba(0, 0, 0);
}

.image {
    margin-right: 10px; /* Adjust the margin as needed */
}

h2, p, h4, span {
    margin: 0; /* Remove default margin for better spacing */
    padding: 5px; /* Adjust the padding as needed */
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 10px;

}

.edit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    gap: 10px;
  }
  
  .delete {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    gap: 10px;
  }

  .edit:hover {
    background-color: #45a049; /* Darker shade for Edit button on hover */
}

.delete:hover {
    background-color: #f21808; /* Darker shade for Delete button on hover */
}

  .blogTitle {
    display: flex;
    justify-content: center;
  }
  
    .blogTitle h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 50px;
        font-weight: 700;
        color: #ffffff;
    }

    .create {
        text-align: center;
        margin-top: 30px;
        margin-left: 40px;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        background-color: #007bff; /* Blue color, you can change it to your preferred color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease; /* Smooth transition for better user experience */

        /* Add hover effect */
        &:hover {
            background-color: #0056b3; /* Darker shade on hover */
        }
    }

    .typing-animation {
        overflow: hidden; /* Hide overflow to create the typing effect */
        white-space: nowrap; /* Avoid line breaks */
        animation: typing 2s steps(20, end); /* Animation duration and steps */
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }


      /* Add this style to set the text color to white inside each post */

.post p {
    color: rgb(0, 0, 0);
}

.post h2 {
    margin-bottom: 0px; /* Adjust the margin as needed for spacing */
}

.post h4 {
    margin-top: 10px; /* Adjust the margin as needed for spacing */
    margin-bottom: -5px;
}


@media only screen and (max-width: 768px) {
    .footer-logo {
        padding: 20px 10px;
    }

    .slogan {
        padding: 10px;
    }

    .footer-start {
        bottom: 150px;
        right: 10px;
    }

    .icon {
        margin: 0 5px;
    }

    .landing header > div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav a {
        position: static;
        margin-top: 10px;
        right: 0;
    }

    .blogTitle {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .blogTitle h1 {
        font-size: 30px;
    }

    .create {
        margin-top: 80px;
    }
    .button {
        justify-content: center;
        margin-right: 0;
        margin-top: 10px;
    }
}

.createpost {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: #cdd5dd 0px 0px 10px;
    background-color: #000000;
  }

  .createpost input {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: center;
    background-color: #ffffff;
    color: #000000;
}

.createpost textarea {
    width: 90%;
    height: 200px;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: center;
}   


.createpost button {
    background-color: #007bff; /* Blue color, you can change it to your preferred color */
    border: none;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for better user experience */

    /* Add hover effect */
    &:hover {
        background-color: #0056b3; /* Darker shade on hover */
    }
}


.editpost-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: #cdd5dd 0px 0px 10px;
    background-color: #000000;
  }
  
  .editpost-form input {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: center;
    background-color: #ffffff;
    color: #000000;
  }
  
  .editpost-form textarea {
    width: 90%;
    height: 200px;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: center;
  }
  
  .editpost-form button {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  


  /* Add this styling to your existing CSS file or create a new one */

.post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #000000;
  }
  
  .post h2 {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: left;
    align-items: left;
  }
  
  .post p {
    margin: 0px;
    color: #ffffff;
  }

  .post {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 600px;
    margin: 10px;
    margin-left: 10px;
    box-shadow: #cdd5dd 0px 0px 10px;
    margin-bottom: 50px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 45px; /* Initial maximum height */
}

.post:hover {
    background-color: #1c1c1c;
}

.post.expanded {
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow: auto;
}


/* Add animation for post entry */
.post {
    animation: Leftin 2s;
}

@keyframes Leftin {
    0% {
        opacity: 0;
        /* transform: translate3d(200px, 100px, 0); */
    }
    100% {
        opacity: 1;
        /* transform: translate3d(0, 0, 0); */
    }
}


