/* Import Nunito font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

/* Apply Nunito font to all elements */
* {
    font-family: "Nunito", sans-serif;
}

/* Styling for the landing page */
.landing {
    position: relative;
}

/* Styling for the header section */
header {
    position: relative;
}

/* Styling for the div within the header */
header > div {
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    align-items: center;
}

/* Styling for the logo and name with hover effect */
.logo, .name:hover {
    cursor: pointer;
}

/* Styling for the top logo */
.top-logo {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

/* Styling for the logo */
.logo {
    display: flex;
    width: 70px;
    height: 70px;
}

/* Styling for the navigation bar */
nav {
    position: absolute;
    top: 25px;
    right: 50px;
    color: aliceblue;
    font-size: 20px;

    /* Styling for navigation links */
    a {
        color: aliceblue;
        font-size: 20px;
        text-decoration: none;

        /* Styling for navigation link hover state */
        &:hover {
            cursor: pointer;
            font-weight: 800;
        }
    }
}

/* Styling for the navigation items */
.nav-items {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;

    /* Styling for navigation links and paragraphs within navigation */
    a {
        margin: 0 10px;
    }

    p {
        margin: 0 10px;
        font-size: 1vw;
        white-space: wrap;
    }
}

/* Styling for the h2 within the header */
header > h2 {
    font-size: 30px;
    margin: 0;
    padding: 5px;
} 

/* Styling for the health image */
.healthpic {
    display: block;
    width: 100%;
    height: auto;
}

/* Styling for the logo inside */
.logo-inside {
    width: 40%;
    height: auto;
    position: absolute;
    opacity: 0.8;
    top: 8%;
    right: 15px;
}

/* Styling for the main area */
.main-area {
    position: relative;
}

/* Styling for the image item */
.img-item {
    position: absolute;
    top: 25%; 
    left: 5%; 
    background-color: rgba(242, 236, 236, 0.549); 
    border-radius: 10px;
    color: #000000; 
    padding: 10px 20px; 
    text-align: left;
    font-size: 30px;
    text-wrap: wrap;
    z-index: 1;
}

/* Styling for the navigation bar */
.navigation-bar {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    background-color: #212121;

    /* Styling for the div within the navigation bar */
    div {
        padding: 10px 0;

        /* Styling for navigation bar div hover state */
        &:hover {
            background-color: #2d2c2c;
        }
    }

    /* Styling for navigation links within the navigation bar */
    a {
        color: aliceblue;
        font-size: 20px;
        text-decoration: none;

        /* Styling for navigation link hover state */
        &:hover {
            cursor: pointer;
        }
    }
}

/* Styling for the favorite, about, goal, and goalA classes */
.fav {
    font-size: 1.5vw;
    margin: 0;
}

.about {
    font-size: 1.2vw;
    margin: 10;
} 

.goal {
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
} 

.goalA {
    font-size: 4vw;
    font-weight: 900;
    margin: 10px 0;
}

/* Styling for the sign-up button */
.sign-up {
    position: absolute;
    top: 70%; 
    left: 5%;
    font-family: "Nunito", sans-serif;
    background-color: #191919a5;
    color: rgb(248, 247, 247);
    font-size: 1.5vw;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 700;
    white-space: wrap;
    z-index: 1;
    transition: background-color 0.3s ease;

    /* Styling for sign-up button hover state */
    &:hover {
        cursor: pointer;
        background-color: rgba(240, 248, 255, 0.533);
        color: #000000;
    }
}

/* Styling for the rating section */
.rating {
    text-align: center;
    background-color: #000000;
}

/* Styling for the star rating */
.starrating {
    width: 350px;
    margin-top: 30px;
}

/* Styling for the rating statistics */
.rating-stat {
    color: aliceblue;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
    margin: 0;
}

/* Styling for the unordered list */
ul {
    margin: 0;
}

/* Styling for the image and user class */
.image {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    width: 65px;
}

/* Styling for the reviews section */
.reviews {
    padding: 0;
    background-color: #000000;
    list-style-type: none;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;

    /* Styling for the paragraph within the reviews section */
    p {
        color: aliceblue;
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }

    /* Styling for the list items within the reviews section */
    li {
        border: 1px solid rgb(110, 110, 110);
        margin: 15px auto;
        padding: 10px;
        width: 300px;
        border-radius: 15px;
        text-align: center;
    }
}

/* Styling for the footer section */
footer {
    background-color: #000000;
    color: aliceblue;
    position: relative;
}

/* Styling for the footer logo */
.footer-logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    padding: 50px 0 0px 100px;
}

/* Styling for the slogan */
.slogan {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 50px 110px;
    margin: 0;
}

/* Styling for the footer start button */
.footer-start {
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    bottom: 200px;
    right: 150px;
    transition: background-color 0.3s ease;

    /* Styling for the footer start button hover state */
    &:hover {
        cursor: pointer;
        background-color: #191919;
        color: aliceblue;
    }
}

/* Styling for the certificate class */
.certificate {
    color: rgba(253, 251, 251, 0.503);
    text-align: center;
    font-size: 15px;
}

/* Styling for the icon class */
.icon {
    width: 30px;
    padding: 15px;
    margin: 0 20px;

    /* Styling for the icon hover state */
    &:hover {
        cursor: pointer;
    }
}

/* Styling for the social section */
.social {
    display: flex;
    justify-content: center;
}

/* Media query for screen sizes up to 768px */
@media only screen and (max-width: 768px) {
    /* Adjust styling for the footer logo */
    .footer-logo {
        padding: 20px 10px;
    }

    /* Adjust styling for the slogan */
    .slogan {
        padding: 10px;
    }

    /* Adjust styling for the footer start button */
    .footer-start {
        bottom: 150px;
        right: 10px;
    }

    /* Adjust styling for the icon */
    .icon {
        margin: 0 5px;
    }
}