@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

* {
    font-family: "Nunito", sans-serif;

}

.landing {
    position: relative;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header > div{
    display: flex;
    justify-content:center;
    background-color: black;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    align-items: center;
}

.logo,.name:hover {
    cursor: pointer;
}

 
.logo{
    display: flex;
    width: 70px;
    height: 70px;
}

nav a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
} 
nav a:hover {
    cursor: pointer;
    font-weight: 800;
}

.nav-items {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;
}

.nav-items a {
    margin: 0 10px;
}

.nav-items p {
    margin: 0 10px;
}

header > h2 {
    font-size: 30px;
    margin: 0;
    padding: 5px;
} 


.healthpic {
    display: block;
    width: 100%;
    height: auto;
    
}

.logo-inside {
    width: 40%;
    height: auto;
    position: absolute;
    opacity: 0.8;
    top: 8%;
    right: 15px;
}

.main-area {
    position: relative;
}

.img-item {
    position: absolute;
    top: 25%; 
    left: 5%; 
    background-color: rgba(242, 236, 236, 0.549); 
    border-radius: 10px;
    color: #000000; 
    padding: 10px 20px; 
    text-align: left;
    font-size: 30px;
    text-wrap: wrap;
    z-index: 1;
    
}

.navigation-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-color: #212121;
}

.navigation-bar div {
    padding: 10px;
}

.navigation-bar a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
} 
.navigation-bar a:hover {
    cursor: pointer;
    font-weight: 800;
}

.fav{
    font-size: 1.5vw;
    margin: 0;
}
.about {

    font-size: 1.2vw;
    margin: 10;
} 

.goal {
  
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
} 
.goalA {
    font-size: 4vw;
    font-weight: 900;
    margin: 10px 0;
}

.sign-up{
    position: absolute;
    top: 70%; 
    left: 5%;
    font-family: "Nunito", sans-serif;
    background-color: #191919a5;
    color: rgb(248, 247, 247);
    font-size: 1.5vw;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 700;
    text-wrap: wrap;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.sign-up:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.533);
    color: #000000;
}

.rating {
    text-align: center;
    background-color: #000000;
}

.starrating {
    width: 350px;
    margin-top: 30px;
}

.rating-stat {
    color: aliceblue;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
    margin: 0;
}

ul{
    margin: 0;
}
.reviews {
    padding: 0;
    background-color: #000000;
    list-style-type: none;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
}

.image {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    width: 65px;
    
}

.reviews  p {
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.reviews li {
    border: 1px solid rgb(110, 110, 110);
    margin: 15px auto;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

footer {
    background-color: #000000;
    color: aliceblue;
    position: relative;
    
}

.footer-logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    padding: 50px 0 0px 100px;
}

.slogan {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 50px 110px;
    margin: 0;
}

.footer-start {
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    bottom: 200px;
    right: 150px;
    transition: background-color 0.3s ease;
}

.footer-start:hover {
    cursor: pointer;
    background-color: #191919;
    color: aliceblue;

}

.certificate {
    color: rgba(253, 251, 251, 0.503);
    text-align: center;
    font-size: 15px;
}

.icon {
    width: 30px;
    padding: 15px ;
    margin: 0 20px;
}

.icon:hover {
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .footer-logo {
        padding: 20px 10px;
    }

    .slogan {
        padding: 10px;
    }

    .footer-start {
        bottom: 150px;
        right: 10px;
    }

    .icon {
        margin: 0 5px;
    }

}






