.add-food, .select-date {
    color: aliceblue;
}

.meal-container {
    opacity: 0.9;
    margin: 0 auto;
    background-color: #191919;
    border: 1px solid #000000;
    width: 50%;
    align-items: center;
    padding: 20px;
    min-width: 800px;
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
    grid-template-rows: auto;

    button {
        border-radius: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 2px;
        background-color: aliceblue;
        color: black; 

        &:hover {
            background-color: #191919;
            color: aliceblue; 
            font-weight: 600;
        }
    }

    h3 {
        margin: 0;
    }
}


.date-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.select-date {
    background-color: black;
    color: aliceblue;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
}

.react-datepicker-wrapper {
    margin-right: auto;
}

.react-datepicker-wrapper input {
    margin: 0;
    border: 1px solid black;
    padding: 5px;
    color: black;
    background-color: aliceblue;
    font-weight: 700;
    font-size: medium;
}

.custom-datepicker-input {
    position: relative;
    display: inline-block;

    input[type='text'] {
        padding-right: 30px;
    }

    .calendar-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: black;
    }
}


.bg-img-food {
    background-image: url("dietplanImage.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.arrow-icon {
    padding: 7px 8px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color: #000000;
    cursor: pointer;
    font-size: small;
}

.arrow-icon:hover {
    background-color: aliceblue;
    color: #212121;
    opacity: 0.5;
    border-color: black;
}

.food-page {
    height: 100%;
}

.food-heading {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    font-weight: 700;
}

.calories-heading {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
    font-weight: 700;
}

.carbs-heading {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
    font-weight: 700;
}

.fat-heading {
    grid-area: 1 / 5 / 2 / 6;
    text-align: center;
    font-weight: 700;
}

.protein-heading {
    grid-area: 1 / 6 / 2 / 7;
    text-align: center;
    font-weight: 700;
}

.sodium-heading {
    grid-area: 1 / 7 / 2 / 8;
    text-align: center;
    font-weight: 700;
}

.sugar-heading {
    grid-area: 1 / 8 / 2 / 9;
    text-align: center;
    font-weight: 700;
}

.breakfast-heading {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;

}

.lunch-heading {
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;

}

.dinner-heading {
    grid-area: 4 / 1 / 5 / 2;
    text-align: center;

}

.snack-heading {
    grid-area: 5 / 1 / 6 / 2;
    text-align: center;
}

.breakfast-name {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
}

.breakfast-calories {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
}

.breakfast-carbs {
    grid-area: 2 / 4 / 3 / 5;
    text-align: center;
}

.breakfast-fat {
    grid-area: 2 / 5 / 3 / 6;
    text-align: center;
}

.breakfast-protein {
    grid-area: 2 / 6 / 3 / 7;
    text-align: center;
}

.breakfast-sodium {
    grid-area: 2 / 7 / 3 / 8;
    text-align: center;
}

.breakfast-sugar {
    grid-area: 2 / 8 / 3 / 9;
    text-align: center;
}

.breakfast-delete {
    grid-area: 2 / 9 / 3 / 10;
    text-align: center;
}

.lunch-name {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
}

.lunch-calories {
    grid-area: 3 / 3 / 4 / 4;
    text-align: center;
}

.lunch-carbs {
    grid-area: 3 / 4 / 4 / 5;
    text-align: center;
}

.lunch-fat {
    grid-area: 3 / 5 / 4 / 6;
    text-align: center;
}

.lunch-protein {
    grid-area: 3 / 6 / 4 / 7;
    text-align: center;
}

.lunch-sodium {
    grid-area: 3 / 7 / 4 / 8;
    text-align: center;
}

.lunch-sugar {
    grid-area: 3 / 8 / 4 / 9;
    text-align: center;
}

.lunch-delete {
    grid-area: 3 / 9 / 4 / 10;
    text-align: center;
}

.dinner-name {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
}

.dinner-calories {
    grid-area: 4 / 3 / 5 / 4;
    text-align: center;
}

.dinner-carbs {
    grid-area: 4 / 4 / 5 / 5;
    text-align: center;
}

.dinner-fat {
    grid-area: 4 / 5 / 5 / 6;
    text-align: center;
}

.dinner-protein {
    grid-area: 4 / 6 / 5 / 7;
    text-align: center;
}

.dinner-sodium {
    grid-area: 4 / 7 / 5 / 8;
    text-align: center;
}

.dinner-sugar {
    grid-area: 4 / 8 / 5 / 9;
    text-align: center;
}

.dinner-delete {
    grid-area: 4 / 9 / 5 / 10;
    text-align: center;
}

.snack-name {
    grid-area: 5 / 2 / 6 / 3;
    text-align: center;

}

.snack-calories {
    grid-area: 5 / 3 / 6 / 4;
    text-align: center;
}

.snack-carbs {
    grid-area: 5 / 4 / 6 / 5;
    text-align: center;
}

.snack-fat {
    grid-area: 5 / 5 / 6 / 6;
    text-align: center;
}

.snack-protein {
    grid-area: 5 / 6 / 6 / 7;
    text-align: center;
}

.snack-sodium {
    grid-area: 5 / 7 / 6 / 8;
    text-align: center;
}

.snack-sugar {
    grid-area: 5 / 8 / 6 / 9;
    text-align: center;
}

.snack-delete {
    grid-area: 5 / 9 / 6 / 10;
    text-align: center;
}

.item-name, .item-calories, .item-carbs, .item-fat, .item-protein, .item-sodium, .item-sugar, .item-delete {
    padding: 5px;
}

.item-delete {
    cursor: pointer;
}

.item-delete:hover {
    color: black;
}

.total-calories-heading {
    grid-area: 6 / 1 / 7 / 2;
    text-align: center;
}

.total-calories-value {
    grid-area: 6 / 3 / 7 / 4;
    text-align: center;
}

.total-carbs-value {
    grid-area: 6 / 4 / 7 / 5;
    text-align: center;
}

.total-fat-value {
    grid-area: 6 / 5 / 7 / 6;
    text-align: center;
}

.total-protein-value {
    grid-area: 6 / 6 / 7 / 7;
    text-align: center;
}

.total-sodium-value {
    grid-area: 6 / 7 / 7 / 8;
    text-align: center;
}

.total-sugar-value {
    grid-area: 6 / 8 / 7 / 9;
    text-align: center;
}