.search-food-page {
    height: 100%;
}

.search-food-page-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.9;
    margin: 0 auto;
    background-color: #191919;
    border: 1px solid #000000;
    width: 50%;
    padding: 20px;
    min-width: 400px;
}

.search-heading {
    padding: 5px 0;
}

.search-food-container-wrapper {
    padding-top: 20px;
}

.search-food-input-section {
    margin: auto;

    div {
        display: flex;
        gap: 10px;
    }

    p {
        padding: 5px 0;
    }

    input {
        margin-bottom: 0;
    }

    button {
        width: 100px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 2px;
        border-radius: 5px;
        background-color: aliceblue;
        color: black; 

        &:hover {
            background-color: #191919;
            color: aliceblue; 
            font-weight: 600;
        }
    }
}

.search-food-result {
    width: 39%;
    margin: auto;

    h3 {
        text-align: left;   
    }

    ul {
        list-style-type: none;
        padding: 5px 0;

        li {
            padding: 5px 0;
            margin: 5px auto;
            width: 50%;
            background-color: aliceblue;
            transition: background-color 0.3s ease;
            cursor: pointer;
            text-align: center;
            opacity: 0.9;
            color: black;

            &:hover {
                background-color: black;
                color: aliceblue;
            }
        }
    }
}

.search-food-save {
    width: 100%;
}

.select-qty-container {
    display: flex;
    align-items: center;

    h3 {
        width: 50%;
    }

    input {
        width: 40%;
        margin: auto;
    }
}

.nutrition-facts {
    display: flex;
    flex-direction: column;
    margin: auto;

    p {
        text-align: left;
    }
}

.save-container {
    display: flex;
    align-items: center;
}

.select-and-save {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 25%;
    }
}

.save-btn {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px;
    border-radius: 5px;
    background-color: aliceblue;
    color: black; 

    &:hover {
        background-color: #191919;
        color: aliceblue; 
        font-weight: 600;
    }
}

