.login-btn, .sign-up-btn {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align to the end of the container */
    align-items: flex-end;
    padding-right: 20%;
    height: 100vh;
    background-color: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
  } 

  .sign-up-btn:before {
    content: "";
    position: absolute;
    justify-self: center;
    align-self: center;
    left: 2.5%;
    border-radius: 15px;
    height: 90%;
    width: 95%;
    background-color: rgba(128, 128, 128, 0.5); /* Grey overlay with 50% opacity*/
    z-index: 1; /* Place the overlay behind the content */
    }
.sign-up-heading {
    margin-bottom: 20px;
}
  
.sign-up-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}



input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #acacac;
    border-radius: 5px;
    background-color: #191919; /* Background color for input fields */
    color: rgb(248, 247, 247); /* Text color for input fields */

}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input.error {
    border: 1px solid #ff0000;
}

.sign-up-para {
    margin-top: 20px;
}

.sign-up-para a {
    color: #007bff;
    text-decoration: none;
}

.sign-up-para a:hover {
    text-decoration: underline;
}

.signup-link {
    color: white;
    text-decoration: none;
}
  
.signup-link:hover {
    text-decoration: underline;
}
