.login-btn, .sign-up-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 100vh;
    color: #fff;
}
#root > div > div > header{
    background-color: #000000;
}
html {
    height: 100%;;
}
.sign-up-btn {    
    background-color: #000000;
}

/* body {
    background-color: #000000;
    color: aliceblue;
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;
} */

.sign-up-heading {
    margin-bottom: 20px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 0 20px;
}

.sign-up-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #acacac;
    border-radius: 5px;
    background-color: #191919;
    color: rgb(248, 247, 247);
}

input[type="submit"] {
    width: 40vh;
    padding: 10px;
    border: 2px solid #acacac;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: aliceblue;
    color: black;   
    font-weight: 600;
}

input.error {
    border: 1px solid #ff0000;
}

.sign-up-para {
    margin-top: 20px;
    color: white;
}

.sign-up-para a {
    color: #007bff;
    text-decoration: none;
}

.sign-up-para a:hover {
    text-decoration: underline;
}

.signup-link {
    color: white;
    text-decoration: none;
}
  
.signup-link:hover {
    text-decoration: underline;
}

.sign-up-para-link {
    text-align: center;
}

#root {
    height: 100%;
}